
@import url(/mav/Cesium/Widgets/widgets.css);

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(32, 26, 26);
    user-select: none;
    /* overflow-y: hidden; */
}
body{
    height: 100vh;
}

body::-webkit-scrollbar{
    display: none;
}

#map {
    height: 100%;   
    cursor: default;
    z-index: 0;
}
.leaflet-control{
    display: none;
}

.container1{
    height: 100%;
    display: flex;
    flex-direction: column;
    float: left;
    resize:vertical;
    overflow: auto;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "TTsuper";
    src: url("../media/fonts/TTSupermolotNeue-CondMed.ttf");
}
@font-face{
    font-family: "TTsuperM";
    src: url("../media/fonts/TTSupermolotNeue-DemiBold.ttf");
}
@font-face{
    font-family: "TTsuperB";
    src: url("../media/fonts/TTSupermolotNeue-ExtraBold.ttf");
}
nav{
    background: linear-gradient(to right, black, black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-family: "TTsuper";
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto ;
    cursor: pointer;
    color: orange;
    transition: all 0.3s ease-in-out;
    width: 100%;
}
.logo img{
    width:60px;
}
.logo-text{
    padding: 0 0 0 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.logo span{
    font-size: 1.5rem;
}


#canvas{
    padding: 5px 3px 0px 3px;
    position: absolute;
    bottom:0px;
    left: 10px;
    z-index: 20;
    border-radius: 10px;
    bottom: 10px;
    display: block;
}

#info{
    height: 245px;
    width:400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 25;
    top:60px;
    left: 10px;
    border-radius: 10px;
}
#info .data{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 40px;
    width: 100%;
    padding-left: 20px;
}
#info .data-bit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "TTsuper";
    margin: 0 20px 0 0;
    cursor: pointer;
}

.data-bit p{
    margin: 10px 0 10px 0;
    font-size: 1.5rem;
}
.buttons button{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9rem;
    background: transparent;
    border: 1px solid orange;
    color: orange;
    margin: 0px 10px 0 0 ;
    padding: 7px 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
#ekf,#vibe{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9rem;
    background: transparent;
    border: 1px solid orange;
    color: orange;
    margin: 0px 0px 0 10px ;
    padding: 7px 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
#ekf:hover,#vibe:hover{
    color:black;
    background-color: orange;
}
#quick{
    background: transparent;
    border: 1px solid orange;
    color: black;
    background-color: orange;
}

#video{
    height: 245px;
    width:400px;
    background-color: rgba(0, 0, 0, 0.425);
    position: absolute;
    bottom:10px;
    right: 10px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "TTsuper";
    border-radius: 10px;
}
.block{
    cursor: move;
}

/* action div  */
.action-data{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}
#drop{
    background-color: rgb(14, 13, 13);
    padding: 7px 10px;
    outline:none;
    border-radius: 5px;
    width: 117px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    margin: 0 10px 15px 0;
    transition: all 0.2s ease-in-out;
}
#drop:hover{
    border: 1px solid orange;
    color: orange;
}
#drop::-webkit-scrollbar{
    display: none;
}
.row1 button{
    margin: 0 10px 15px 0;
    padding: 8px 30px ;
    background: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
.row1 button:hover{
    border: 1px solid orange;
    color: orange;
}
.row1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    padding-top: 20px;
    justify-content: space-evenly;
}

#switch{
    cursor: pointer;
    width: 160px;
    padding: 9px 10px;
    background-color: transparent;
    color: orange;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid orange;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
#switch:hover{
    color:black;
    background-color: orange;
}