<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/interface.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo2.png') }}">
    <title>OmniPresent</title>
</head>

<body onload="init();">
    <nav>
        <button id="vibe" onclick="createPopup3();">VIBE</button>
        <button id="ekf" onclick="createPopup4();">EKF</button>
        <button id="ekf" onclick="createPopup5();">PLAN</button>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="">
            <div class="logo-text">
                <span>OmniPresent</span>
            </div>
        </div>
        <button id="switch">Satellite View</button>
    </nav>
    <!-- <div id="message" style="position:absolute;">message</div> -->
    <div class="main-container" style="resize: horizontal;">
        <div class="container" style="float: left;">
            <canvas class="block" id="canvas" width="400" height="275" ondblclick="createPopup();">
               <p>EKF</p>
            </canvas><br>


            <!-- Lat: <input id="latbox" name="lat" val="40.713956" />Long: <input id="lngbox" name="long" val="74.006653" /> -->
            <div id="info" class="block">
                <div class="buttons">
                    <button id="quick">quick</button>
                    <button id="actions">actions</button>
                </div>
                <div class="data">
                    <div class="data-bit data-bit1" id="db1"  ondblclick="createdatapopup('sdb1');">
                        <span id="sdb1">Yaw (deg)</span>
                        <p id="pdb1">0.00</p>
                    </div>
                    <div class="data-bit data-bit2" id="db2"  ondblclick="createdatapopup('sdb2');">
                        <span id="sdb2">Roll</span>
                        <p  id="pdb2">0.00</p>
                    </div>
                    <div class="data-bit data-bit3" id="db3" ondblclick="createdatapopup('sdb3');">
                        <span id="sdb3">Pitch</span>
                        <p  id="pdb3">0.00</p>
                    </div>
                    <div class="data-bit data-bit4" id="db4"  ondblclick="createdatapopup('sdb4');">
                        <span id="sdb4">Altitude (m)</span>
                        <p  id="pdb4">0.00</p>
                    </div>
                    <div class="data-bit data-bit5" id="db5"  ondblclick="createdatapopup('sdb5');">
                        <span id="sdb5">dist_to_wp</span>
                        <p  id="pdb5">0.00</p>
                    </div>
                    <div class="data-bit data-bit6" id="db6" ondblclick="createdatapopup('sdb6');">
                        <span id="sdb6">Yaw Speed</span>
                        <p  id="pdb6">Unknown</p>
                    </div>
                </div>
                <div class="action-data">
                    <div class="row1">
                        <select name="drop" id="drop">
                            <option value="AUTO">AUTO</option>
                            <option value="MANUAL">MANUAL</option>
                            <option value="CIRCLE">CIRCLE</option>
                            <option value="STABILIZE">STABILIZE</option>
                            <option value="TRAINING">TRAINING</option>
                            <option value="ACRO">ACRO</option>
                            <option value="FBWA">FBWA</option>
                            <option value="FBWB">FBWB</option>
                            <option value="CRUISE">CRUISE</option>
                            <option value="AUTOTUNE">AUTOTUNE</option>
                            <option value="RTL">RTL</option>
                            <option value="LOITRE">LOITRE</option>
                            <option value="TAKEOFF">TAKEOFF</option>
                            <option value="AVOID_ADSB">AVOID_ADSB</option>
                            <option value="GUIDED">GUIDED</option>
                            <option value="INITIALISING">INITIALISING</option>
                            <option value="QSTABILIZE">QSTABILIZE</option>
                            <option value="QHOVER">QHOVER</option>
                            <option value="QLOITER">QLOITER</option>
                            <option value="QLAND">QLAND</option>
                            <option value="QRTL">QRTL</option>
                            <option value="QAUTOTUNE">QAUTOTUNE</option>
                            <option value="QACRO">QACRO</option>
                            <option value="THERMAL">THERMAL</option>
                            <option value="LOITERALTQLAND">LOITERALTQLAND</option>
                           </select>
                           <button onclick="sendc()">SET</button>
                           <button>Camera</button>
                           <button id="arm-disarm">Arm</button>
                           <button>Joystick</button>
                    </div>
                </div>
            </div>
            <div id="video" class="block">
                <img src="#" id="images" style="height:225px; width:400px;">
            </div>
            <!-- <br /> -->
            <canvas id="graphcanvas" width="500" height="80" style="display: none;"></canvas><br />
            <!-- <div id="curve_chart" style="width: 500px; height: 200px;"></div> -->
        </div>
        <!-- <div id="serverStatus" style="width: 500px; overflow-y: auto; flex-grow: 0;"></div> -->
    </div>
    <div style="height: 92vh; display: flex; flex-direction: column; resize: horizontal; overflow: auto;">
        
        <!-- <canvas id="canvas" width="300" height="200"></canvas><br> -->
        <!-- <div id="log"></div> -->
        <!-- <div id="cesiumContainer" style="height: 50%; display: none;"></div> -->
        <div id="map"></div>
    </div>
    <script src="http://smoothiecharts.org/smoothie.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/mav/Cesium/Cesium.js"></script>
    <script src="/mav/bundle.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
        // making the divs draggable 
        $(document).ready(function() {
            $('.block').draggable();
        });

        // map working 
        var marker, circle;

function getPosition(position){
    // console.log(position)
    var lat = position.coords.latitude
    var long = position.coords.longitude
    var accuracy = position.coords.accuracy

    if(marker) {
        map.removeLayer(marker)
    }

    if(circle) {
        map.removeLayer(circle)
    }

    marker = L.marker([ 284166522.00,775235714.00])
    circle = L.circle([284166522.00,775235714.00], {radius: accuracy})

    var featureGroup = L.featureGroup([marker, circle]).addTo(map)

    map.fitBounds(featureGroup.getBounds())

    console.log("Your coordinate is: Lat: "+ lat +" Long: "+ long+ " Accuracy: "+ accuracy)
}
    </script>
    <script src="{{ url_for('static', filename='js/interface.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/datapopup.js') }}">

    </script>
    <script src="https://js.arcgis.com/3.41/"></script>
</body>
</html>
