<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#" method="POST">
			<h1>Sign in</h1>
			<input name="username" type="username" id="username" class="form__input" autocomplete="off" placeholder=" " >
            <label for="username" class="form__label">Username</label>
			<input name="password" type="password" id="password" class="form2__input" autocomplete="off" placeholder=" " >
          <label for="password" class="form2__label">Password</label>
			<button type="submit" class="signIn">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                <span>command - control - conduct</span>
			</div>
		</div>
	</div>
</div>



<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>